<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.2.0" targetFramework="net452" />
  <package id="CommandLineParser" version="2.3.0" targetFramework="net452" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net452" />
  <package id="sautinsoft.document" version="3.6.12.4" targetFramework="net452" />
  <package id="System.Windows.Forms" version="4.0.0.0" targetFramework="net452" />
  <package id="System.Windows.Forms.Ribbon35" version="3.5.8.0" targetFramework="net452" />
</packages>