<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.13" targetFramework="net452" />
  <package id="ApprovalUtilities" version="3.0.13" targetFramework="net452" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net452" />
  <package id="CSharpFunctionalExtensions" version="1.6.2" targetFramework="net452" />
  <package id="FakeItEasy" version="2.3.1" targetFramework="net452" />
  <package id="FluentAssertions" version="4.15.0" targetFramework="net452" />
  <package id="Moq" version="4.13.1" targetFramework="net452" />
  <package id="NUnit" version="3.5.0" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net452" />
</packages>