<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TagCloud.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TagCloud.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Times New Roman</value>
            </setting>
            <setting name="MinFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxFontSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BackgroudColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </TagCloud.Properties.Settings>
    </userSettings>
</configuration>